@import url('https://fonts.googleapis.com/css?family=Aldrich');

body
{
  font-size: 18px;
}

a, button, input[type="submit"]
{
  cursor: pointer;
}

main
{
 margin-left: 15%;
 margin-right: 15%;
 margin-bottom: 5%;
}

#title
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0%;
    padding: 2%;
}

.admin-action
{
    position: absolute;
    left: 40%;
    text-align: center;
    border-radius: 10px;
    background-color: #a6c1b8;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav
{
    padding-bottom: 2%;
    border-radius: 15%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 70%;
}

a
{
    text-decoration: none;
    color: black;
}

.user
{
    display: block;
}

.user-menu
{
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    border-width: 0;
    height: 58px;
    width: 250px;
    background-color: #a6c1b8;
}

.info
{
    font-size: 80%;
}

.comment-info
{
    font-size: 80%;
    margin-top: 1%;
}

.post-title
{
    font-size: 150%;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.theme
{
  /*font-weight: bold;*/
  position: absolute;
  left:65%;
  font-family: Aldrich, sans-serif;
  background-color: #a6c1b8;
  clip-path:inset(25% 0 25% 0 round 0 25% 0 25%);
  text-align: center;
  padding: 1%;
}

.posts
{
    text-decoration: none;
    outline: none;
}

.action
{
    position: relative;
    left: 70%;
}

.detail-action
{
    position: relative;
    left: 55%;
}

li
{
    list-style-type: none;
    color: black;
}

nav
{
    text-align: center;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 150px;
    background-color: whitesmoke;
    color: rgb(17, 10, 10);
    text-align: left;
    border-radius: 6px;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    position: absolute;
    z-index: 1;
    bottom: -180%;
    left: 50%;
    margin-left: -120px;
  }

  /* Popup arrow */
  .popup .popuptext::cue {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 1s
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.modif-profil
{
    text-align: center;
}

.user-info
{
    font-size: medium;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 20%;
}

#profil
{
    font-size: 50px;
}

.search-area
{
    position: relative;
    padding-bottom: 5%;
    width: 300px;
    left: 50%;
}

.search-area input
{
    height: 30px;
    width: 200px;
}

.login-form
{
    position:  relative;
    left: 30%;
}

input
{
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    border: 3px;
    margin: 1%;
    height: 25px;
    background: #a6c1b8;
}

.login-form input
{
    margin-left: 8%;
}

input[type="submit"]
{
    width:185px;
    height: 30px;
    text-align: center;
}

.image
{
    width: 50%;
    height: 25%;
    overflow: hidden;
    border-radius: 10%;
    border: 2px solid black;
    margin: 5%;
}

.pagination
{
    text-align: center;
}

header
{
    margin-bottom: 5%;
    background-color: #a6c1b8;
}

body
{
    margin: 0%;
}

.post-content
{
    margin-bottom: 15%;
}

.search-button
{
    border: 0px;
    height: 30px;
    font-size: larger;
    background-color: white;
}

.profile-image
{
    width : 150px; height : 150px;
    overflow: hidden;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}

.profile-image-resize
{
    width : 50px; height : 50px;
    overflow: hidden;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}

.profile-image-resizex2
{
    width : 25px; height : 25px;
    overflow: hidden;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 75px;
}

.username
{
    font-size: larger;
    font-weight: bolder;
}

.post-add
{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #a6c1b8;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    left: 35%;
}

.sign-up_form
{
  text-align: center;
}

.sign-up_form input[type="submit"]
{
  width: 100px;
}

.comment-form
{
  text-align: center;
}

input, textarea
{
  padding-left: 10px;
}

.comment-form textarea
{
  width: 60%;
  height: 100px;
  padding: 10px;
  outline: 0;
  border: 3px solid #a6c1b8;
  border-radius: 20px;
  background: #a6c1b8;
  line-height: 20px;
}

.comment-form input[type="submit"]
{
  width: 100px;
}

.post-form input[type="submit"]
{
  margin-top: 50px;
  text-align: center;
  position: relative;
  left: 25%;
}

.post-form textarea
{
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  border: 3px;
  background: #a6c1b8;
  margin: 1%;
  width: 60%;
  height: 100px;
}

.login-form input[type="submit"]
{
  margin-top: 30px;
}

input[type="submit"]
{
  border-left: 5px solid;
  border-left-color: black;
}

.post
{
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: beige;
}
