{% load static %}

<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>Nice Share</title>
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css"/>
  </head>

  <body>
    <header>
      <h1>Nice Share</h1>
      <a href="{% url 'home' %}" style="font-weight: bold; text-align: left; position: relative; left: 80%"><i class="fa-solid fa-house"></i>&nbsp&nbsp&nbspAcceuil</a><br/>
    </header>

    <main>
      {% if messages %}
        {% for message in messages %}
          <script>
            alert('{{ message }}');
          </script>
        {% endfor %}
      {% endif %}
      <form class="login-form" method="POST" action="">
        <h2>Se connecter</h2>
          {% csrf_token %}
          <input type="text" name="username" placeholder="login"/><br/>
          <input type="password" name="password" placeholder="password"/><br/>
          <input type="submit" value="Connexion"/>
          </br></br>Vous n'avez pas encore de compte ?
        <a style="text-decoration: underline; color: blue;" href="{% url 'sign-up' %}">Créer un compte</a>
      </form>
    </main>

    <footer></footer>
  </body>

</html>
