{% extends 'posts/model.html' %}

{% load static %}

{% block content %}

<main>
    <span class="user">
    {% if request.user.image %}
        <img class="profile-image-resize" src="{{ post.user.image.url }}" alt="Photo de profil">
    {% else %}
        <i class="fa-solid fa-circle-user"></i>
    {% endif %}
    &nbsp&nbsp&nbsp<span class="username">{{ post.user }}</span></span><br/>
    <span class="post-title">{{ post.title }}</span>
    {% for th in post.theme.all %}
      <span class="theme">{{ th }}</span><br/>
    {% endfor %}
    {% if post.illustration %}
        <img class="image" src="{{ post.illustration.url }}" alt="illustration du post">
    {% endif %}
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="post-content">{{ post.content }}</span><br/><br/>
    <span class="info">
        <br/>Ajouté le {{ post.addDate }} à {{ post.addHour }}
        <br />Modifié le {{ post.modifDate }} à {{ post.modifHour }}
    </span>
    <span class="detail-action">
        <a href="{% url 'detail-like' post.id %}">
            {{ post.like.all|length }}&nbsp<i class="fa-solid fa-thumbs-up"></i>
        </a>
        &nbsp&nbsp
        <a href="{% url 'detail-dislike' post.id %}">
            {{ post.dislike.all|length }}&nbsp<i class="fa-solid fa-thumbs-down"></i>
        </a>
        <br/>
    </span><br/>
    {% if request.user.is_authenticated %}
        {% if post in my_post %}
            <br/>
            <span>
                <h4 class="admin-action">
                    <a href="{% url 'post-update' post.id %}">Modifier</a>&nbsp&nbsp&nbsp|&nbsp&nbsp
                    <a href="{% url 'post-delete' post.id %}">Supprimer</a>
                </h4><br/><br/><br/><br/>
            </span>
        {% endif %}
    {% endif %}
    {% if len != 0 %}
        <h2>Commentaires</h2>
    {% endif %}
    {% for comment in comments %}
<!--         <span class="vertical-line"></span> -->
        <span class="comment">
            {% if comment.user.image %}
                <img class="profile-image-resizex2" src="{{ comment.user.image.url }}" alt="Photo de profil">
            {% else %}
                <i class="fa-solid fa-user"></i>
            {% endif %}
            &nbsp&nbsp&nbsp{{ comment.user }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            {{ comment.content }}<br/>
            <span class="comment-info">
                <br/>Ajouté le {{ comment.addDate }} à {{ comment.addHour }}
            </span><br/>
            <span class="action">
                <a href="{% url 'comment-like' post.id comment.id %}">{{ comment.like.all|length }}&nbsp<i class="fa-solid fa-thumbs-up"></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <a href="{% url 'comment-dislike' post.id comment.id %}">{{ comment.dislike.all|length }}&nbsp<i class="fa-solid fa-thumbs-down">&nbsp&nbsp&nbsp</i></a>
            </span><br/>
        </span><br/><br/>
    {% endfor %}

    <br/><HR NOSHADE><br/>
    <h2 style="text-align: center">Ajouter votre commentaire</h2>
    <form class="comment-form" method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Ajouter"/>
    </form>
</main>

{% endblock %}
